[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
jupyter-datasette = {editable = true,path = "."}
datasette = "*"
jinja2 = ">=2.10.1"

[requires]
python_version = "3.6"
